* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: block;
}

header {
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    transition: all 0.5s;
    background: #FFFFFF;
    height: 124px;
    z-index: 99;
}

.header-nav {
    margin: 0;
    padding: 0;
}

header img {
    width: 130px;
    height: 100px;
}

.header-nav .brand {
    padding-top: 0px;
    display: flex;
}


/* Navigation menu */

.header-nav .nav-menu {
    list-style: none;
    display: flex;
    gap: 50px;
}

.header-nav li a {
    text-decoration: none;
    color: #838383;
    font-weight: 500;
    font-size: 16px;
    border-bottom: 3px solid transparent;
    transition: 0.5s ease-in-out;
}

.header-nav li a:focus {
    background: -webkit-linear-gradient(#0038FF, #00D1FF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    border-bottom: 3px solid #003BEC;
}

.header-nav li a:hover {
    background: -webkit-linear-gradient(#0038FF, #00D1FF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-login {
    display: flex;
    border-radius: 100px;
    height: 60px;
    width: 100px;
    border: 3px solid #003BEC !important;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
}

.btn-login a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #003BEC;
}

.section2 {
    margin: auto;
    width: 100%;
    height: 643px;
}

.bgc-1 {
    width: 100%;
    height: 643px;
}

.bgc-2 {
    width: 100%;
    height: 643px;
}

.bgc-3 {
    width: 100%;
    height: 643px;
}

.bgc-4 {
    width: 100%;
    height: 643px;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators li {
    width: 11px !important;
    height: 11px !important;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
}

.carousel-indicators .active {
    background-color: #003BEC !important;
    width: 30px !important;
}

.carousel-item .content-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
}

.content-carousel h2 {
    font-weight: 800;
    font-size: 53px;
}

.content-carousel .colored-text2 {
    color: #0038FF;
}


/* Image alignment by step */

.content-carousel .frame1 {
    padding: auto;
}

.content-carousel .frame2 {
    padding: auto;
}

.content-carousel .frame3 {
    padding: auto;
}

.content-carousel .frame4 {
    padding: auto;
}

.section-body {
    display: flex;
    padding-left: 50px;
    padding-top: 50px;
}

#h {
    font-weight: bold;
    font-size: 35px;
}

.sec2{
    width: 100%;
    height: auto;
    background: white;
    display: flex !important;
    align-items: center;
    justify-content: center;

    
}

.sec2 .main-sec2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    /* padding: 20px 10px 20px 10px; */

}

.main-sec2 .header-sec2{
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-sec2 .header-sec2 p{
    font-weight: bold;
    font-size: 28px;
    
}

.main-sec2 .unit-container .model-cont{
    display: flex;   
    gap: 150px;
}

.main-sec2 .unit-header h2{
    color:#003BEC;
    font-weight: bold;
    font-size: 24px;
}

.unit-container .model1{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.unit-container .variant1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.unit-container .variant2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.unit-container .variant1 .form-select{
    width: 200px;
}

.unit-container .variant2 .form-select{
    width: 200px;
}

.unit-container .model2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.model2 .model2-variant1 .form-select{
    width: 500px;
}

.model2 li{
    font-size: 12px;
    font-weight: lighter;
}
/* ----------------------------------------------Principal Information----------------------------------------- */
.main-sec2  .personalInfo {
    display: flex;
    
}
.personalInfo .form-control{
border-radius: 0px !important;
width: 332px !important;
}
.personalInfo .location{
width: 507px !important;

}
.personalInfo .zip{
width: 160px !important;
}

.form-group{
    font-weight: bold;
}
.main-sec2 .income{
    display: flex;
}
.personalInfo .business{
width: 507px !important;
}
.main-sec2 .BusinessInfo {
display: flex;

}
.BusinessInfo .form-control{
width: 239px !important;
}
.personalInfo .comaker{
    width: 418px !important;
}
.personalInfo .relation{
width: 249px !important;
}

.ending{
    padding-top: 50px;
    width: 1080px;
}



@media (max-width: 768px) {

    .main-sec2 .unit-container .model-cont{
        display: flex;   
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 20px;
        
    }

    .unit-header h2{
        text-align: center;
    }

    .main-sec2 .unit-container .model-cont{
        display: flex;   
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 20px;
        padding-left: 40px;
    }

    .main-sec2 .personalInfo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .personalInfo .form-group{
        padding-left: 20px;
    }

    .main-sec2 .BusinessInfo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

    }

    .BusinessInfo .form-group{
        padding-left: 20px !important;
    }

    .main-sec2 .come{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-sec2 .ending {
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 0 50px;
    }
    
}

@media (max-width: 480px) {
    
}

.submitBtn {
    margin-top: 30px;
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.submitBtn button {
    flex-basis: 45%;
    background: #0038FF;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: backround 1s;
}

.submitBtn .btn {
    flex-basis: 45%;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    transition: backround 1s;
    background-color: #fff;
    color: #003BEC;
    font-size: 15px;
}

.section3 {
    width: 100%;
    height: 550px;
}

.cay {
    position: absolute;
    width: 100%;
    height: 1110px;
}

.firstline {
    text-align: center;
    font-weight: 800;
    font-size: 48px;
    margin-top: 100px;
}

em {
    font-style: normal;
    color: blue;
}

.cars1 {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    display: flex;
    flex-direction: column;
}

.cars1 .container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pricedeets {
    display: flex;
    justify-content: space-between;
}

.pricedeets .btn {
    width: 100px;
    height: 40px;
    border-radius: 100px;
    background-color: #003BEC;
    font-size: 15px;
}

.cars1 .view {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #003BEC;
    padding: 10px;
    width: 500px;
    border-radius: 50px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 24px
}

.img-top {
    overflow: hidden;
}

.img-top img {
    /*  add transition to the container  */
    transition: all .5s ease-in-out;
}

.img-top:hover img {
    transform: scale(1.2) rotate(0deg);
}

.page3sec4 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px;
}

.sec4 {
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.sign {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    width: 750px;
    margin-left: 15px;
    margin-bottom: 0px;
}

.java {
    color: rgb(0, 59, 236);
}

.text1 {
    opacity: 60%;
    color: rgb(12, 17, 31) font-family Poppins;
    font-weight: 400;
    font-size: 20px;
    width: 550px;
    margin-left: 15px;
    top: 0px;
}

.email {
    font-family: Poppins;
    font-weight: 400;
    size: 20px;
    width: 370px;
    border-radius: 23px;
    padding: 15px;
    margin-left: 15px;
    margin: px;
    border: none;
    background-color: rgb(237, 237, 237);
    margin-bottom: 20px;
}

.subscribe {
    background: linear-gradient(135deg, #003BEC 0%, #016AC6 100%);
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: none;
    display: flex;
    flex-direction: flow;
    justify-content: center;
    align-items: flex-end;
    padding: 14px 32px;
    gap: 8px;
    position: absolute;
    border-radius: 32px;
    margin-left: 15px;
    cursor: pointer;
}

.car {
    position: absolute;
    width: 556px;
    height: 451;
    justify-content: end;
    align-items: end;
    margin-top: 140px;
    margin-left: 550px;
}

footer {
    width: 100%;
    height: 100%;
}

footer .footer-container {
    width: 100%;
    height: 100%;
    background: url('../img/pexels-torsten-dettlaff-70912\ \(1\)\ 1\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #003BEC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 50px;
}

.footer-container .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.header-container h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 40px;
}

.header-container p {
    width: 590px;
    text-align: center;
    font-weight: lighter;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    margin-bottom: 150px;
}

.navigation-container img {
    width: 86px;
    height: 66px;
    margin-top: -20px;
}

.logo-contain {
    display: flex;
    flex-direction: column;
}

.sub-btn {
    margin-top: 50px;
}

.subcribe-btn {
    width: 200px;
    height: 200px;
    background: #fff;
    color: #000;
    border-radius: 50px;
    padding: 20px;
}

.logo-main {
    display: flex;
}

.logo-contain {
    margin-top: -75px;
}

.logo-main h3 {
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: bold;
}

.logo-contain p {
    width: 253px;
    font-size: 16px;
    text-align: left;
    font-weight: lighter;
    color: #FFFFFF
}

.buy-contain {
    display: flex;
    flex-direction: column;
}

.list-mode {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-top: 40px;
}

.list-mode h3 {
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: bold;
}

.list-mode ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 0 !important;
}

.list-mode li a {
    color: #FFFFFF;
    text-decoration: none !important;
}

.list-mode li a:hover {
    text-decoration: underline !important;
}

.list-mode p {
    width: 275px;
}

.socials ul {
    display: flex !important;
    flex-direction: row;
    text-decoration: none;
}

.socials li {
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px;
}

.terms-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
}

.terms-container ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.terms-container li a {
    color: white;
    text-decoration: none;
}

.terms-container li a:hover {
    text-decoration: underline !important;
}