*{
    font-family: "Montserrat";
}

.center{
    display: flex;
    justify-content: center;
    align-content: center;
}

.carsPage{
    background-image: url('../img/CarsPage/carsPageb1.jpg'),
                      url('../img/CarsPage/carsPagebg2.png');
    background-position: 0px 0px,
                         0px 1011px;
    background-size: 100% 1011px,
                     100% 4461px;
    background-repeat: no-repeat;
    width: 100%;
    height: 6010px;
}

.CPBlue1{
    color: blue;
    font-size: 50px;
    font-weight: bold;
}

.CPH1{
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding-top: 40px;
    padding-left: 60px;
    padding-bottom: 40px;
}
.CPH2{
    color: black;
    font-size: 50px;
    font-weight: bold;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 0px;
}
.CPH3{
    color: black;
    font-size: 50px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 0px;
}
.CPTxt1{
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding-left: 60px;
}
.CPTxt2{
    color: black;
    font-size: 15px;
    font-weight: normal;
    padding-left: 60px;
}

.carsPageDd1{
    color: black;
    background-color: #f9f9f9;
    background: white;
    margin-left: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 450px;
}
.CPInputCont{
    display: flex;
}

.CPInput1{
    flex: 1;
    margin-right: -45px;
}

.CPInput2{
    flex: 2;

}
.Estimated{
    flex: 1;
}

.SelectVehicle{
    flex: 2;
}

.CPF1{
    color: black;
    border: 1px solid black;
    background-color: white;
    margin-left: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 80px;
}

.loanCalculator{
    display: flex;
    width: 1199px;
    height: 567px;
    background-color: white;
    border-radius: 20px;

}

.CPBtn1{
    color: white;
    font-size: 15px;
    font-weight: normal;
    background-color: blue;
    border-radius: 20px;
    border: 1px solid blue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 40px;
    margin-left: 80px;
}

.CPBtn1:hover{
    color: blue;
    background-color: white;
    cursor: pointer;
}

.titleTxt{
    margin-top: 150px;
    color: black;
    font-size: 36px;
    font-weight: bold;
}

.highlightBlue{
    color: blue;
    font-size: 36px;
    font-weight: bold;
}
/*----------------------CP nav--------------------------*/
.CPNavSearch{
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 10px grey;
    margin-top: 30px;
    margin-left: 20px;
}
.CPNav{
    width: 515px;
    height: 64px;
    list-style-type: none;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 10px grey;
    margin-top: 30px;
}
  
.navCP{
    float: left;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 0px;
}
  
.navCP .navCPP{
    display: block;
    color: black;
    text-align: center;
    font-size: 16;
    font-weight: bold;
    padding: 20px;

    text-decoration: none;
}

.navCP .navCPP:focus{
    color: white;
    background-color: blue;
    border-radius: 50px;
}
.circleSearch{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.handleSearch{
    width: 5px;
    height: 3px;
    background-color: black;
    rotate: 45deg;
    border-radius: 0px 10px 10px 0px;
    margin-top: -3px;
    margin-left: 40px;
}
/*------------------CP cards------------------------------*/
.containerCards{
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    height: 4344px;
    justify-content: center;
}
.cards{
    width: 384px;
    height: 459px;
    margin: 20px;
    background-color: white;
    border-radius: 30px;
}
.fa-star {
    color: white;
}
.star {
    color: white;
    position: absolute;
    height: 36px;
    width: 62px;
    backdrop-filter: blur(15px);
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 1;
}
.roundStar{
    position: absolute;
    height: 24px;
    width: 24px;
    background-color: #F8C633;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: 6px;
    text-align: center;
}

.ratingCard{
    color: white;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 35px;
}
.imgCard{
    width: 384px;
    height: 239px;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
}
.imgCardCar{
    transition: transform .2s ease;
}
.imgCardCar:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.imgCard:hover .star {
    animation: myfirst 1s 1;
}
@keyframes myfirst
{
    0%      {background:transparent;}
    10%     {background:white;}
}

.titleCards{
    font-weight: bold;
    font-size: 24px;
    margin-top: 30px;
    margin-left: 30px;
}

.descCards{
    font-size: 12px;
    font-weight: normal;
    margin-top: 0px;
    margin-left: 30px;
}
.btnCards{
    position: absolute;
    color: white;
    font-size: 16px;
    width: 119px;
    height: 52px;
    background-color: blue;
    border-radius: 30px;
    border-color: transparent;
    margin-top: -65px;
    margin-left: 230px;
}

.btnCards:hover{
    color: blue;
    background-color: white;
    border-color: blue;
    cursor: pointer;
}
/*-- --------------------------------------------------------------SIGN UP-------------------------------------------------------------------- */

.page3sec4{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px; 
}

.sec4{
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.sign {
    font-weight: 700;
    font-size: 40px;
    width: 750px;
    margin-left: 15px;
    margin-bottom: 0px;
}
.java {
    color: rgb(0, 59, 236);
}

.text1 {
    opacity: 60%;
    color: rgb(12, 17, 31) 
    font-family Poppins;
    font-weight: 400;
    font-size: 20px;
    width: 550px;
    margin-left: 15px;
    top: 0px;
}

.email {
    font-family: Poppins;
    font-weight: 400;
    size: 20px;
    width: 370px;
    border-radius: 23px;
    padding: 15px;
    margin-left: 15px;
    margin: px;
    border: none;
    background-color: rgb(237, 237, 237);
    margin-bottom: 20px;
}
.subscribe {
    background: linear-gradient(135deg, #003BEC 0%, #016AC6 100%);
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: none;
    display: flex;
    flex-direction: flow;
    justify-content: center;
    align-items: flex-end;
    padding: 14px 32px;
    gap: 8px;
    position: absolute;
    border-radius: 32px; 
    margin-left: 15px;
    cursor: pointer;
}

.car {
    position: absolute;
    width: 556px;
    height: 451;

    margin-top: 140px;
    margin-left: 550px;
}
/* --------------------------------Footer------------------------------------------ */

footer{
    width: 100%;
    height: 733px;
}

footer .footer-container{
    width: 100%;
    height: 733px;
    background: url('../img/pexels-torsten-dettlaff-70912\ \(1\)\ 1\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #003BEC;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;

    gap: 50px;
}

.footer-container .header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.header-container h2{
    font-weight: bold;
    font-size: 40px;
}

.header-container p{
    width: 590px;
    text-align: center;
    font-weight: lighter;
}

.navigation-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    margin-bottom: 150px;

}

.navigation-container img{
    width: 86px;
    height: 66px;
    margin-top: -20px;
}

.logo-contain{
    display: flex;
    flex-direction: column;
}

.sub-btn{
    margin-top: 50px;
}

.subcribe-btn{
    width: 200px;
    height: 200px;
    background: #fff;
    color: #000;
    border-radius: 50px;
    padding: 20px;
}

.logo-main{
    display: flex;
}

.logo-contain{
    margin-top: -75px;
}
.logo-main h3{
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: bold;
}

.logo-contain p{
    width: 253px;
    font-size: 16px;
    text-align: left;
    font-weight: lighter;
    color:#FFFFFF
}

.buy-contain{
    display: flex;
    flex-direction: column;

}

.list-mode{
    display: flex;
    flex-direction: row;

    gap: 100px;
    margin-top: 40px;
}

.list-mode h3{
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: bold;
}

.list-mode ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.list-mode li a{
    color: #FFFFFF;
}

.list-mode p{
    width: 275px;
}

.socials ul{
    display: flex !important;
    flex-direction: row;
    text-decoration: none;
}

.socials li{
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px;
}