.mainjavaa {
  width: 906px;
  height: 620px;
  top: 194px;
  display: flex;
  flex-direction: row-reverse;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.divi11 {
  background: url("../img/Signup/reg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 320px;
  height: 623px;
}
.para1 {
  width: 100px;
  height: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 1000;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}
.para2 {
  width: 205px;
  height: 24px;
  font: "Poppins";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  color: #000000;
}
.fname {
  box-sizing: border-box;
  width: 260px;
  height: 60px;
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.lname {
  box-sizing: border-box;
  width: 260px;
  height: 60px;
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.divi2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 6px;
}
.ename {
  box-sizing: border-box;
  width: 260px;
  height: 60px;
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.phnom {
  box-sizing: border-box;
  width: 260px;
  height: 60px;
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.divi3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 6px;
}
.pass1 {
  box-sizing: border-box;
  width: 260px;
  height: 60px;
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.pass2 {
  box-sizing: border-box;
  width: 240px;
  height: 60px;
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: none;
}
.divi4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 6px;
}

.mainjava {
  padding: 50px 30px 30px 15px;
}

.divi5 {
  width: 300px;
  height: 24px;
  gap: 4px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;

  display: flex;
  align-items: center;
  flex-direction: row;
  color: #000000;
}
.divi5 p {
  margin-top: 15px;
}
.divi5 input {
  border-radius: 60px;
}
.divi5 span {
  color: #003bec;
}
#circle1 {
  color: green;
  margin-right: 1px;
  visibility: hidden;
  position: relative;
  left: -20px;
}
#ekis1 {
  color: red;
  margin-right: 1px;
  display: none;
}
.recheck {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.form-check-input {
  border-radius: 50px !important;
  margin-top: 6px !important;
  width: 15px !important;
  height: 15px !important;
}
.form-check-input:checked {
  background-color: black !important;
  border-color: #000000 !important;
}
.divi6 input {
  width: 380px;
  height: 60px;
  background: #003bec;
  border-radius: 11px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  border: none;
  align-items: center;
  color: #ffffff;
  margin-left: 74px;
}
.divi8 p {
  width: 150px;
  height: 24px;
  display: flex;
  gap: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 1000;
  font-size: 15px;
  line-height: 24px;

  display: flex;
  align-items: center;
  color: #000000;
  margin-left: 210px;
}
.divi8 span {
  width: 141px;
  height: 1px;
  background: #ddd;
  margin-top: 13px;
}
.divi9 .gcont {
  display: flex;
  width: 114px;
  height: 34px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #000000;
  border-radius: 5px;
}
.gcont i {
  font-size: 25px;
  margin-right: 5px;
}
.gcont a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.divi9 .fcont {
  display: flex;
  width: 114px;
  height: 34px;
  border: 2px solid #ddd;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 5px 5px;
}
.fcont i {
  font-size: 25px;
  margin-right: 5px;
}
.fcont a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.divi9 {
  display: flex;
  gap: 20px;
  margin-left: 146px;
  margin-bottom: 0px;
}
.divi10 p {
  width: 250px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  display: flex;
  align-items: center;
  color: #000000;
}
.divi10 strong {
  color: #000000;
  text-underline-offset: #000;
}
.divi10 {
  display: flex;
  margin-left: 150px;
}
