* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  scroll-behavior: smooth;
  background: url("../img/motors/pexels-rangga-aditya-armien-235222\ 2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Top navigation bar */
header {
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: space-evenly;

  transition: all 0.5s;
  /* border-bottom: 2px solid #d1d1d1; */
  background: #ffffff;
  height: 124px;
  z-index: 99;
}

.header-nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 145px;
}

/* Logo Image */
header img {
  width: 130px;
  height: 100px;
}

.header-nav {
  display: flex;
  background: transparent;
}

.header-nav .brand {
  padding-top: 0px;
  display: flex;
}

/* Navigation menu */
.header-nav .nav-menu {
  list-style: none;
  display: flex !important;
  flex-direction: row;
  gap: 50px;
}

.header-nav li a {
  text-decoration: none;
  color: #838383;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 3px solid transparent;
  transition: 0.5s ease-in-out;
  padding: 10px;
}

.header-nav li a:is(:link, :active, :visited).active {
  background: -webkit-linear-gradient(#0038ff, #00d1ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  border-bottom: 3px solid #003bec;
}

.header-nav li a:hover {
  background: -webkit-linear-gradient(#0038ff, #00d1ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Button Login */
.header-nav .btn-login {
  display: flex;
  border-radius: 100px;
  height: 60px;
  width: 100px;
  border: 3px solid #003bec !important;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
}

.btn-login a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #003bec;
}

.ham {
  display: none;
}

/* --------------------------Intro Section-------------------------------- */

/* First Section */
.section1{
  margin: 0;
  padding: 0;
  width: 100%;

}

/* First Image section where logo and cars is found */
.section1 .first-bg{
  width: 100%;
  height: 667px;
  background: url('../img/bg1.jpg');
  background-repeat: no-repeat;
  background-size:cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Logo and Cars Image */
.first-bg .logo1{
  width: 705px;
  height: 544px;

  margin-top: 190px;
  margin-bottom: 220px;


}

.first-bg .cars1{
  width: 1347px;
  height: 450px;

  margin-top: -445px;
  background: transparent;
  
}

.section1 .second-bg{
  width: 100%;
  height: 534px;
  background: url('../img/bg2.png');
  background-repeat: no-repeat;
  background-size:cover;
}

/* Container for text */
.second-bg .container1{
  display: flex;
  flex-direction: column;

  padding: 120px 150px;
  justify-content: center;
  align-items: start;

  gap: 20px;
}

.header-text h1{
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

}

.header-text .colored-text{
  margin-top: -30px;
  color: #0038FF;
  font-weight: bold;

}

.header-info p{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  width: 631px;

  margin-top: -20px;
}

/* Buttons in first section */
.section-btn{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  gap: 20px;
}

.right-btn{
  width: 177px;
  height: 52px;

  background: linear-gradient(111.69deg, #0038FF 0%, #00D1FF 109.3%);
  
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
  transition: 0.4s ease-in;
}

.right-btn:hover{
  background: transparent;
  border: 2px solid #0038FF;
  color: #0038FF;
}

.left-btn{
  width: 210px;
  height: 52px;

  border: 2px solid #0038FF;
  background: transparent;
  font-size: 18px;
  font-weight: 700;
  color: #0038FF;
  border-radius: 50px;
  transition: 0.4s ease-out;
}

.left-btn:hover{
  background: linear-gradient(111.69deg, #0038FF 0%, #00D1FF 109.3%);
  color: #FFFFFF;
  border: none;
}

/* ----------------Carousel----------------------- */

.section2 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 643px;
}

.how1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  margin-top: 20px;
}

.numberI{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #003bec;
  text-align: center;
  color: white;
  padding:10px 0 0 0;
  font-size: 24px;
}

.how1 img{
  width: 302px;
  height: 241px;
}

.howContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}



.howContainer p{
  font-size: 20px;
  width: 297px;
  text-align: center;
  opacity: 0.8;
}


.howContainer2{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.howContainer2 p{
  width: 526px;
text-align: left;
opacity: 0.8;
}


.howContainer3{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.howContainer3 p{
  width: 526px;
  opacity: 0.8;
}


.howContainer4{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.howContainer4 p{
  width: 480px;
  opacity: 0.8;
}


.carousel-indicators{
  bottom: -45px !important;
}



.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}

.carousel-indicators li {
  width: 11px !important;
  height: 11px !important;
  border-radius: 50px;
  transition: 0.5s ease-in-out;
}

.carousel-indicators .active {
  background-color: #003bec !important;
  width: 30px !important;
}
.carousel-item .content-carousel {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  padding: 40px 10px;
}

.content-carousel h2 {
  font-weight: 800;
  font-size: 36px;
}

.content-carousel .colored-text2 {
  color: #0038ff;
}

/* Image alignment by step */

.content-carousel .frame1 {
  padding: 0px 0px 0px 400px;
}
.content-carousel .frame2 {
  padding: 0px 0px 0px 50px;
}
.content-carousel .frame3 {
  padding: 0px 0px 0px 100px;
}
.content-carousel .frame4 {
  padding: 0px 200px 0px 0px;
}

/* -----------------------------madam---------------------------------------------------------------*/

.section3 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentH1{
display: flex;
text-align: center;
flex-direction: column;
}

.contentH1 .firstline {
  text-align: center;
  font-weight: 800;
  font-size: 48px;
}
.contentH1 em {
  font-style: normal;
  color: blue;
}
.contentH1 .secondline {
  text-align: center;
  font-weight: 800;
}
.contentH1.thirdline {
  text-align: center;
  width: 821px;
}
.section3 .cars1 {
  width: 100%;
  background: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.cars1 .container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 !important;
  width: 100%;
  gap: 30px;

}
.cars1 .button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;

  padding: 20px 10px;
}
.button .viewall {
  text-align: center;
  color: white;
  background-color: #003bec;
  padding: 10px;
  width: 500px;
  border-radius: 50px;
  font-size: 24px;
  text-decoration: none;
}

/*--------cards---------*/
.cars1 .cards {
  /* width: 384px !important;
  height: 459px; */
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: white;
  border-radius: 30px;
  padding: 0 !important;
}

.container1 .stars{
  width: 62px;
  height: 36px;
  /* background: #dfdfdf; */
  backdrop-filter: brightness(80%);
  position: relative;
  left: 20px;
  top: -220px;
  border-radius: 25px;
  display: flex;
  text-align: start;
  align-items: center;
  justify-content: start;
  padding: 5px 5px;

  gap: 3px;
  transition: 1s ease;
}

.cards .imgCard {
  width: 384px;
  height: 239px;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
}
.imgCardCar {
  transition: transform 0.2s ease;
}
.imgCardCar:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.imgCard:hover .star {
  animation: myfirst 1s 1;
}
@keyframes myfirst {
  0% {
    background: transparent;
  }
  10% {
    background: white;
  }
}

.titleCards {
  font-weight: bold;
  font-size: 24px;
}

.carsPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}


.carsPrice .descCards {
  font-size: 12px;
  font-weight: normal;

}
.carsPrice .btnCards {
  color: white;
  font-size: 16px;
  width: 119px;
  height: 52px;
  background-color: blue;
  border-radius: 30px;
  border-color: transparent;
  margin-top: 20px;

} 

.btnCards:hover {
  color: blue;
  background-color: white;
  border-color: blue;
  cursor: pointer;
}

/* ----------------------------Motor--------------------------------------- */
.section4 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paragraph {
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
}
.section4 .motor {
  width: 100%;
  background: url("../img/bgmotor.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: flex;
  flex-direction: column;
}
.motor .motor-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;

}

.motor-main .card{
  width:425px !important
}

.motor-main .stars {
  width: 62px;
  height: 36px;
  /* background: #dfdfdf; */
  backdrop-filter: brightness(80%);
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 25px;
  display: flex;
  text-align: start;
  align-items: center;
  justify-content: start;
  padding: 5px 5px;

  gap: 3px;
  transition: 1s ease;
}

.stars i {
  background-color: #f8c633;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  border-radius: 50px;
}
.stars h4 {
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  color: white;
}

.img-top {
  overflow: hidden;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.img-top img {
  /*  add transition to the container  */

  transition: all 0.5s ease-in-out;
}

.img-top:hover img {
  transform: scale(1.2) rotate(0deg);
}

.img-top:hover .stars {
  animation-name: starblink;
  animation-duration: 0.6s;
}

@keyframes starblink {
  from {
    background: #fff;
  }
  to {
    backdrop-filter: brightness(80%);
  }
}

.motor-main .card-title {
  font-weight: bold;
}

.motor-main .price-btn {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;

  margin-top: 30px;
}

.price-btn h3 {
  font-size: 24px;
  font-weight: bold;
}

.price-btn .btn {
  width: 119px;
  height: 52px;
  border-radius: 50px;
  background: #003bec;
  color: #fff;

  margin-top: -10px;
  padding-top: 12px;
}


.motor .button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}




/* --------------------------------subcribe---------------------------------------- */

.section8 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 600px;
}

.section8 .container8 {
  font-family: "Montserrat";
  width: 600px;
  position: relative;
  left: 150px;
}

.container8 .header8 {
  font-size: 40px;
  font-weight: bold;
  width: 800px;
}

.container8 span {
  color: #003bec;
}

.container8 .descText {
  opacity: 0.6;
  width: 545px;
  font-size: 20px;
}

.container8 .subscribeI {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subscribeI input {
  width: 370px;
  border-radius: 23px;
  border: none;
  padding: 15px;
}

.subscribeI button {
  background: linear-gradient(135deg, #003bec 0%, #016ac6 100%);
  color: white;
  font-family: "Poppins";
  font-size: 16px;
  padding: 14px 32px;
  border-radius: 32px;
  width: 150px;
  border: none;
}

.section8 img {
  position: relative;
  top: 50px;
  right: 110px;
  width: 495px;
  height: 275px;
}

/* ----------------------------Brands---------------------------------- */

.main_cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 90px 50px 50px 50px;
}
.text_cont {
  display: flex;
  text-align: center;
  justify-content: center;
}
.start {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
}
.title {
  color: rgb(0, 59, 236);
}
.img_cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dahon {
  width: 236px;
  height: 94px;
  transition: all 0.5s ease-in-out;
}
.dahon1 {
  width: 232px;
  height: 69px;
  transition: all 0.5s ease-in-out;
}
.dahon2 {
  width: 113px;
  height: 59px;
  transition: all 0.5s ease-in-out;
}
.dahon3 {
  width: 238px;
  height: 51px;
  transition: all 0.5s ease-in-out;
}
.dahon:hover {
  transform: scale(1.2) rotate(0deg);
}
.dahon1:hover {
  transform: scale(1.2) rotate(0deg);
}
.dahon2:hover {
  transform: scale(1.2) rotate(0deg);
}
.dahon3:hover {
  transform: scale(1.2) rotate(0deg);
}

/* ------------------------------What did they say part Review--------------------------------- */

.tainer1 {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

  padding: 90px 50px 50px 50px;
}
.webtit {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  text-transform: capitalize;
  color: rgb(22, 25, 30);
  width: 500px;
  margin-left: 100px;
  margin-bottom: 20px;
}
.webtit2 {
  color: rgb(0, 59, 236);
}
.para {
  width: 500px;
  height: 72px;
  margin-left: 100px;
  margin-top: 1px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  opacity: 0.6;
  margin-top: 5px;
}
.tainer2 {
  display: flex;
  flex-direction: column;
}

.boy {
  width: 60px;
  height: 60px;
  left: 700px;
  margin-top: 30px;
}
.name1 {
  width: 145px;
  height: 32px;
  margin-top: 40px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  left: 700px;
  margin-top: 1px;
  margin-bottom: 5px;
}
.master {
  width: 100px;
  left: 700px;
  top: 135px;
}
.cha {
  width: 435px;
  height: 96px;
  left: 700px;
  top: 150px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: -0.01em;
  opacity: 0.6;
}
.tainer3 {
  background-color: #ffffff;
  width: 445px;
  height: 300px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* -------------------------FAQs--------------------------------------------------- */
.section7 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 30px;
}

.header-faq {
  width: 80%;
  display: flex;
  align-items: start;
  justify-content: start;
}

.header-faq p {
  font-weight: bold;
  font-size: 32px;
}

.accordion-header {
  padding: 20px 10px;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
}

.accordion-button {
  color: #003bec !important;
  font-weight: bold;
}

.accordion-button:focus {
  border-color: white !important;
}

.acc-cont {
  width: 80%;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accordion-button::after {
  font-family: "FontAwesome" !important;
  content: "\f067" !important;
  background-image: none !important;
  float: right;
}

.accordion-button:not(.collapsed)::after {
  /* symbol for "collapsed" panels */
  content: "\f068" !important;
}

.accordion-item:first-of-type .accordion-button {
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
}

.accordion-item {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
}

/* --------------------------------Footer------------------------------------------ */

footer {
  width: 100%;
  height: auto;
}

footer .footer-container {
  width: 100%;
  height: 100%;
  background: url("../img/pexels-torsten-dettlaff-70912\ \(1\)\ 1\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #003bec;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;

  gap: 50px;
}

.footer-container .header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 200px;
}

.header-container h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 40px;
}

.header-container p {
  width: 590px;
  text-align: center;
  font-weight: lighter;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 150px;

  margin-bottom: 150px;
}

.navigation-container img {
  width: 86px;
  height: 66px;
  margin-top: -20px;
}

.logo-contain {
  display: flex;
  flex-direction: column;
}

.sub-btn {
  margin-top: 50px;
}

.subcribe-btn {
  width: 200px;
  height: 200px;
  background: #fff;
  color: #000;
  border-radius: 50px;

  padding: 20px;
}

.logo-main {
  display: flex;
}

.logo-contain {
  margin-top: -75px;
}
.logo-main h3 {
  font-size: 20px;
  font-family: "Poppins";
  font-weight: bold;
}

.logo-contain p {
  width: 253px;
  font-size: 16px;
  text-align: left;
  font-weight: lighter;
  color: #ffffff;
}

.buy-contain {
  display: flex;
  flex-direction: column;
}
.list-mode {
  display: flex;
  flex-direction: row;

  gap: 100px;
  margin-top: 40px;
}

.list-mode h3 {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: bold;
}

.list-mode ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0 !important;
}

.list-mode li a {
  color: #ffffff;
  text-decoration: none !important;
}

.list-mode li a:hover {
  text-decoration: underline !important;
}

.list-mode p {
  width: 275px;
}

.socials ul {
  display: flex !important;
  flex-direction: row;
  text-decoration: none;
}

.socials li {
  font-size: 20px;
  border-radius: 50px;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 5px;
}

.terms-container {
  display: flex !important;

  justify-content: center;
  align-items: center;
  margin-top: -200px;
}

.terms-container ul {
  list-style: none;
  display: flex;
  gap: 50px;
}

.terms-container li a {
  color: white;
  text-decoration: none;
}

.terms-container li a:hover {
  text-decoration: underline !important;
}
.btnolsen {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.btnolsen button {
  background: #ffffff;
  width: 34.18px;
  height: 34px;
  border-radius: 50px;
  border: none;
}
.btnolsen button:focus {
  background: #000;
  color: #ffffff;
}
.btnolsen button:hover {
  background: #000;
  color: #ffffff;
}
