@media (max-width: 1180px) {
  header {
    justify-content: space-between;
  }
  .header-nav {
    gap: 20px;
  }

  .header-nav .nav-menu {
    display: flex !important;
    flex-direction: row;
    gap: 30px;
  }

  .header-nav li a {
    padding: 0px;
  }

  .navigation-container {
    gap: 30px;
  }
  .logo-contain {
    margin-top: -100px;
  }

  .logo-contain p {
    position: relative;
    left: 30px;
  }

  .list-mode {
    gap: 30px;
  }

  .list-mode p {
    width: 180px;
  }
  
}

@media (max-width:845px) {
  .section8{
    gap: 0px;
    width: 100%;
  }
  .container8 .header8{
    width: 500px;
  }
  .container8 .descText{
    width: 385px;
  }
  .section8 img{
    top: 0px;
    right: 70px;
    width: 400px;
    height: 250px;
  }
}



@media (max-width: 800px) {
  .header-nav {
    width: 100%;
    height: 100%;
    background: transparent;
    margin: 0;
    position: absolute;
    top: 0px;
    left: -1000px;
  }
  .header-nav .nav-menu {
    background: white;

    min-width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 120px;
    left: 0px;
    flex-direction: column;
    padding: 50px;
    z-index: 99;
  }

  .nav-menu .btn-login{
    z-index: 99;
  }

  .ham {
    display: flex;
    flex-direction: row;
  }

  #hamList {
    position: relative;
    left: 70px;
  }
  #hamX {
    position: relative;
    left: -20px;
    visibility: hidden;
  }

  .header-nav .btn-login {
    position: absolute;
    top: 415px;
    left: 0px;
    height: 60px;
    width: 300px;
  }

  .navigation-container {
    flex-direction: column;
  }

  .logo-contain {
    margin-top: 40px;
  }

  .list-mode {
    gap: 100px;
  }

  .section8 img{
    display: none;
  }

  .section8 .container8{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    left: 10px;
  }

  .container8 .header8{
    width:480px
  }
  .container8 .descText{
    width: 500px;
  }
  .container8 .subscribeI{
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 740px) {
  .header-container h2 {
    font-size: 32px;
  }
  .header-container p {
    width: 490px;
  }
  .list-mode {
    gap: 50px;
  }

 
}


@media (max-width: 540px) {
  .header-container h2 {
    font-size: 24px;
    text-align: center;
  }

  .header-container p {
    width: 290px;
  }

  .navigation-container {
    align-items: flex-start;
    margin-left: 0px;
    gap: 0px;
  }
  .list-mode {
    flex-direction: column;
    gap: 20px;
  }

  .list-mode h3 {
    font-size: 24px;
  }
  .list-mode ul {
    padding-left: 20px !important;
  }

  .section8 .container8{
    left: 0px;
  }

  .container8 .header8{
    width: 360px;
    font-size: 28px;
  }
  .container8 .descText{
    font-size: 18px;
  }
}


@media (max-width: 490px){


  .plan-container{
    margin-left: -5px;
  }

  .plan-container .btnPlan{
    width: 250px;
    left:25px;
  }

  .plan-container p{
    width: 328px;
  }

  .container-text1 .headText{
    font-size: 26px;
  }
  .container-text1 p{
    width: 356px;
  }

  .container8 .header8{
    width: 230px;
    font-size: 28px;
  }
  .container8 .descText{
    width: 260px;
    font-size: 14px;
  }

  .subscribeI input{
    width: 302px;
  }
}


